.jumbotron {
  padding-top: 2rem;
  background-color: lavenderblush;
}

#projects {
  background-color: lavenderblush;
}

#contact {
  background-color: rgb(255, 255, 255);
}

#footer {
  background-color: lavenderblush;
}
